# Ignore composer stuff
/vendor

# Ignore Concrete stuff
/public/concrete
/public/application/files
/public/application/config/generated_overrides
/public/application/config/doctrine
/public/updates

# Ignore build files
/public/application/themes/theme/dist

# Ignore developer stuff
/.idea
/.vscode
/node_modules
/.env
/public/mix-manifest.json
/phpunit.xml
/build
/.phpunit.*
/public/hot

# Ignore custom folders
/db
/backups

# Ignore files
*.env
*.crt
*.key
*.csr
