# Ignore composer stuff
/vendor

# Ignore concrete5 stuff
/public/concrete
/public/application/files

# Ignore build files
/public/application/css/main.css
/public/application/js/main.js
/public/application/themes/theme/dist

# Ignore developer stuff
/.idea
/.vscode
/node_modules
/.env
/public/mix-manifest.json
/phpunit.xml
/build
/.phpunit.*
/public/hot

# Ignore custom folders
/db
/backups

# Ignore files
*.env
*.crt
*.key
*.csr