# Ignore Composer stuff
/vendor

# Ignore Concrete stuff
/public/concrete
/public/application/files/*
!/public/application/files/index.html
/public/application/config/generated_overrides
/public/application/config/doctrine
/public/updates

# Ignore build files
/public/application/themes/theme/dist

# Ignore developer stuff
/.idea
/.vscode
/node_modules
/.env
/phpunit.xml
/.phpunit.*
/tools/php-cs-fixer/vendor/
/.php-cs-fixer.cache

# Ignore custom folders
/db
/backups
/logs

# Ignore files
*.env
*.crt
*.key
*.csr
