{
    "extends": [
        "stylelint-config-sass-guidelines",
        "stylelint-config-prettier"
    ],
    "rules": {
        "indentation": null,
        "order/properties-alphabetical-order": null
    }
}
