@use 'sass:map';

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// Custom breakpoints
// This will add additional breakpoints but bootstrap classes like "mt-ps-1" will not be generated.
// Add $grid-custom-breakpoints as second argument in "media-breakpoint-xxx" mixins
// Example usage:
// @include media-breakpoint-up(xxxl, $grid-custom-breakpoints) {}
$grid-custom-breakpoints: map-sort-by-values(
    map.merge(
        $grid-breakpoints,
        (
            ps: 360px,
            pm: 414px,
            pl: 480px,
            xxxl: 1800px,
        )
    )
) !default;

// Maximum width of .container
$container-max-widths: (
    xxl: 1440px,
);

// Theme colors
$primary: #0d6efd;
$secondary: #6610f2;

// Buttons
$btn-border-width: 2px;
$btn-focus-width: 0;
$btn-focus-box-shadow: 0;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: underline;

// Custom Variables
$default-transition-timing: 0.3s;
