// Move header when user is logged in
.toolbar-visible .ccm-page {
    margin-top: 48px;
}

.toolbar-visible .header.is-fixed {
    top: 48px;
}

// Fix hover underline (dropdown menu on area click)
.ccm-ui a:hover {
    text-decoration: none;
}
