[mysqld]
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4

########################################################
# How to activate sql query logging
########################################################

# For Concrete CMS, you can just install debugbar
# (though it's not working with full page caching):
# https://github.com/MacareuxDigital/concretecms_debugbar

# 1. Uncomment volume in docker-compose.yml (not here)
# - ./logs/mysql:/var/log/mysql

# 2. Uncomment these two lines here:
#general_log = 1
#general_log_file = /var/log/mysql/query.log

# 3. In terminal, navigate to your project folder

# 4. Build and restart container
# docker compose build
# docker compose up -d

# 5. Set mysql ownership to "logs/mysql" folder:
# sudo chown -R 999:999 logs/mysql

# 6. Restart container
# docker compose down
# docker compose up -d

# 7. Make "query.log" world-readable (don't do it on live server)
# sudo chmod -R a+r logs/mysql/query.log

# 8. How to clear content of "query.log"
# docker exec local-db bash -c "echo '' > /var/log/mysql/query.log"

# 9. At the end you can revert everything here.
# - Remove logs
# sudo rm -R logs
# - Comment line in docker-compose.yml
# - Comment "general_log" and "general_log_file" here
# - Run commands
# docker compose build
# docker compose down
# docker compose up -d
